.aboutphoto
{
    height: 90vh;
    width: 50vw;
    background-image: url('./pictures/aboutus.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50px;

}
.containerabout
{
    display: flex;
}
.desc
{

    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;


}
.descont
{
    padding: 50px;
   
    height: 80vh;
    width: 40vw;
    border-radius: 30px;
    background-color: rgb(234, 232, 229);
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
}