
/* Footer.css */
.footer {
  background-color: #000000;
  color: white;

  height: 50vh;
  font-family: Arial, sans-serif;
}

.footer-container {
 
  display: flex;
  justify-content: center;
  align-content: center;

  height: 40vh;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
 
  min-width: 220px;
}

.footer-section h3 {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin: 10px 0;
}

.footer-section ul li a {
  color: #ddd;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-section ul li a:hover {
  color: #fff;
}

.footer-logo {
  max-width: 150px;
  margin-bottom: 20px;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.social-icons a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #ff6347;
}

.footer-bottom {
  text-align: center;
  background-color: #000000;
  border: 1px solid white;
  padding: 20px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

.fas, .fab {
  font-size: 18px;
}
#info
{
  text-align: left;

}