.signup-container {
    
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;



    
  }
  
  /* Card styling */
  .signup-card {
    /* background: rgba(255, 255, 255, 0.8); Semi-transparent white */
    background: transparent;
    backdrop-filter: blur(20px); /* Blur effect */
   
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
   
    width: 100%;
    max-width: 400px;
  }
  
  /* Input groups styling */
  .input-group-text {
    background-color: transparent;
    border: none;
    background: transparent;
    color: #ffffff;
  }
  #input-box
  {
    background: transparent;
    color: #ffffff;
  }
  
  .form-control {
    border-radius: 30px;
  }
  
  /* Button */
  .btn-primary {
    background-color: #eef0f3;
    border: none;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .btn-primary:hover {
    background-color: #19191a;
  }
  
  /* Footer links */
  a {
    text-decoration: none;
    color: #ffffff;
  }
  
  a:hover {
    text-decoration: underline;
  }